@model IEnumerable<FoodOnWheels.Models.SubMenu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Select Sub-Menu to to Order Food</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuName)
            </td>
            <td>
                <a class="btn btn-primary" role="button"  asp-action="SelectFood" asp-route-id="@item.MenuId">Select Sub-Menu</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<br/>
 <a class="btn btn-info" role="button" asp-action="SelectRestaurant" >Back to Restaurants</a> 