@model FoodOnWheels.Models.Rider

@{
    ViewData["Title"] = "Create";
     Layout= "../Shared/RiderLayout.cshtml";
}

        <form  asp-action= "Create" >
            <br/>
            <h3 class= "">Rider</h3>
            <h4 class= "text-center align-content-center align-self-md-center">Create a new account</h4>
            <hr />
            <div class="form-floating">
                <input asp-for="Name" class="form-control" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="UserName" class="form-control" />
                <label asp-for="UserName"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="password" asp-for="Password" class="form-control" />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <br/>
            <div class="form-group">
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">sign up</button>
            </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
