@model FoodOnWheels.Models.Rider

@{
    ViewData["Title"] = "Block";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Block</h1>

<h3>Are you sure you want to Unblock this?</h3>
<div>
    <h4>Rider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
    
    <form asp-action="Unblock">
        <input type="hidden" asp-for="UserName" />
        <input type="submit" value="Unblock" class="btn btn-info" /> 
        
    </form>
    <br/>
    <a type="button" class="btn btn-info"  asp-action="UnblockIndex">Back to List</a>
</div>
