@{
	Layout= "_Layout.cshtml";
}
<div class=" align-content-md-around">
	<div class="align-content-md-around border-top">
		<div class="card login-logout-tab align-content-center" >
			<div class= "card-header align-content-center">
				<ul class= "nav nav-tabs card-header-tabs align-content-center">
					<li class= "nav-item">
						<a class= "nav-link" href='../Home/Login'>Sign In</a>
					</li>
				</ul>
			</div>
			<div class= "card-content align-content-center"> 
				<div class="row align-content-center">
				<div class="col-md-12">
					@RenderBody()
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	@RenderSectionAsync("Scripts", required: false)
}