@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br/>
<p>Admin has a right to block yoou if you are rider/customer</p>
<p>so be aware of the term and conditions if you want to use the servises of FodOnWheels consistently</p>
